# gitignore file doc:
# - https://git-scm.com/docs/gitignore

# Ignore files created by IDE's
.vscode/*

# Except these ones
!.vscode/settings.json
!.vscode/extensions.json

# Avoid debug leftover
hosts.ini
